body {
  position: relative;
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

button,
input,
textarea,
select {
  outline: none !important;
  box-shadow: none !important;
}

.validation-failed {
  color: #fa9f9fec !important;
  font-size: 11px;
  display: none;
}

/* Animations */
@keyframes fadeBottomUp {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeRightLeft {
  0% {
    -webkit-transform: 30px;
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeLeftRight {
  0% {
    -webkit-transform: -30px;
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* Main banner */
.main-section {
  position: relative;
  overflow-y: auto;
  min-height: 100vh;
  background: linear-gradient(to left top, #000000b2, #000000a4), url("../../../public/img/main-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.main-section .banner {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0.825rem;
}
@media only screen and (max-width: 768px) {
  .main-section .banner {
    align-items: center;
    justify-content: center;
  }
}
.main-section .banner h1 {
  position: relative;
  background-color: #f38e1a6b;
  padding: 1rem 2rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  animation: fadeRightLeft 1s linear;
}
.main-section .banner h1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 2%;
  height: 100%;
  background-color: #f89335e7;
}
.main-section .banner h4 {
  line-height: 40px;
  animation: fadeLeftRight 1.5s linear;
}
.main-section .banner .action-btns a {
  display: inline-block;
  color: #ffffffd5;
  text-decoration: none;
  width: 160px;
  text-align: center;
  padding: 0.325rem;
  transition: all 0.6s;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  animation: fadeBottomUp 2s linear;
}
@media only screen and (max-width: 575px) {
  .main-section .banner .action-btns a {
    display: block;
  }
}
.main-section .banner .action-btns a.message {
  background-color: #bd1616;
}
.main-section .banner .action-btns a.whatsapp {
  background-color: #41a712;
}

.contact-form {
  background-color: #0f0f0f96;
  border-radius: 8px;
}
@media only screen and (max-width: 575px) {
  .contact-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 414px) {
  .contact-form {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 360px) {
  .contact-form {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 320px) {
  .contact-form {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 280px) {
  .contact-form {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 576px) {
  .contact-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .contact-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  .contact-form {
    position: absolute;
    top: 10%;
    left: 100px;
    max-width: 320px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-form {
    position: absolute;
    top: 50%;
    left: 100px;
    max-width: 320px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media only screen and (min-width: 1200px) {
  .contact-form {
    position: absolute;
    top: 10%;
    left: 100px;
    max-width: 400px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.contact-form input,
.contact-form select,
.contact-form button {
  font-size: 0.825rem;
}
.contact-form h6 {
  position: relative;
  background-color: #eeedaa6b;
  padding: 0.825rem 1.5rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 0.725rem;
}
.contact-form h6::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 2%;
  height: 100%;
  background-color: #f89335e7;
}
.contact-form p {
  font-size: 0.825rem;
}
@media only screen and (max-width: 414px) {
  .contact-form p {
    font-size: 11px;
  }
}
.contact-form .contact-form-btn {
  display: flex;
  justify-content: start;
  background-color: transparent;
  width: 160px;
  padding: 0;
  border: none;
  color: #ffffff;
}
.contact-form .contact-form-btn .contact-form-btn-icon {
  width: 40px;
  background-color: #7b5304;
  height: 100%;
  padding: 0.725rem 0;
}
.contact-form .contact-form-btn .contact-form-btn-text {
  width: 120px;
  background-color: #a8791c;
  height: 100%;
  padding: 0.725rem 0;
  transition: all 0.5s;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.contact-form .contact-form-btn .contact-form-btn-text:hover {
  background-color: #7b5304;
}
.contact-form .whats-app-btn {
  display: flex;
  justify-content: start;
  background-color: transparent;
  width: 160px;
  padding: 0;
  border: none;
  color: #ffffff;
  text-decoration: none;
}
.contact-form .whats-app-btn .contact-form-btn-icon {
  width: 40px;
  background-color: #32880a;
  height: 100%;
  padding: 0.725rem 0;
  text-align: center;
}
.contact-form .whats-app-btn .contact-form-btn-text {
  width: 120px;
  background-color: #59ce2a;
  height: 100%;
  padding: 0.725rem 0;
  transition: all 0.5s;
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.contact-form .whats-app-btn .contact-form-btn-text:hover {
  background-color: #32880a;
}

.about-section .video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.about-section .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.about-section h2 {
  position: relative;
  animation: fadeRightLeft 1s linear;
  color: #8b3309;
  font-weight: 700;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  animation: fadeRightLeft 1s linear;
}
.about-section h2::after {
  position: absolute;
  content: "";
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  width: 50%;
  height: 100%;
  border-bottom: 4px solid #fda049;
}
.about-section p {
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  animation: fadeLeftRight 1.5s linear;
}
.about-section .action-btn a {
  display: block;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  background-color: #a8791c;
  padding: 0.625rem 2.5rem;
  border-radius: 50px;
  transition: all 0.2s;
}
.about-section .action-btn a:hover {
  background-color: #cc9933;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.secondary-section {
  position: relative;
  background-color: #f7efe47e;
}
.secondary-section .head {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  background-color: #eca84f;
  text-align: center;
  color: #ffffff;
  padding: 1.5rem 0.825rem;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}
.secondary-section .container {
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.secondary-section .card {
  position: relative;
}
.secondary-section .card .image img {
  height: 220px !important;
}
.secondary-section .card .title {
  position: absolute;
  width: 90%;
  bottom: -10%;
  left: 50%;
  background-color: #96602e;
  color: #ffffff;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50px;
  border: 2px solid #efefef;
}
.secondary-section .card .title h5 {
  font-size: 1rem !important;
  padding: 0.5rem 0.325rem;
}
.secondary-section .action-btn a {
  display: block;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  background-color: #d82222;
  padding: 0.625rem 2.5rem;
  border-radius: 10px;
  max-width: 220px;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.2s;
}
.secondary-section .action-btn a:hover {
  background-color: #eb4646;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

/* Thanking page */
.thanking-section {
  min-height: 100vh;
  background: linear-gradient(to left top, #000000b2, #000000a4), url("../../../public/img/main-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.thanking-section .icon {
  animation: fadeBottomUp 1s linear;
}
.thanking-section .header {
  animation: fadeBottomUp 1.5s linear;
}
@media only screen and (max-width: 414px) {
  .thanking-section .header h2 {
    font-size: 1rem;
    line-height: 30px;
  }
}
.thanking-section .logo {
  animation: fadeBottomUp 2s linear;
}
.thanking-section .action-btn {
  animation: fadeBottomUp 2.5s linear;
}
.thanking-section .action-btn a {
  display: block;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  background-color: #d82222;
  padding: 0.625rem 2.5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.2s;
}
.thanking-section .action-btn a:hover {
  background-color: #eb4646;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

/*# sourceMappingURL=style.css.map */
