$blue: #253f8e;
$lightBlue: #203679;
$darkBlue: #0a195e;
$white: #ffffff;
$black: #000000;
$border: #dad8d8;

body {
    position: relative;
    margin: 0;
    padding: 0;
    * {
        box-sizing: border-box;
        font-family: "Cairo", sans-serif;
        direction: rtl;
    }
}

button,
input,
textarea,
select {
    outline: none !important;
    box-shadow: none !important;
}

.validation-failed {
    color: #fa9f9fec !important;
    font-size: 11px;
    display: none;
}

/* Animations */

@keyframes fadeBottomUp {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeRightLeft {
    0% {
        -webkit-transform: (30px);
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeLeftRight {
    0% {
        -webkit-transform: (-30px);
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
